<template name="accountLoggedOut">
	<li class="dropdown">
		<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:">Sign In <i class="caret"></i></a>
		<ul class="dropdown-menu dropdown-user-account" style="width:300px;">
			<li style="padding:10px 20px 0 20px;">
				<div class="row-fluid">
					<div id="errMessage" class="alert alert-error" style="display:none; margin-bottom:10px;"></div>
					<input type="text" name="userName" id="userName" value="" placeholder="E-mail address" class="span12" style="margin-top:10px;"/>
					<input type="password" name="userPass" id="userPass" value="" placeholder="Password" class="span12" />
				</div>
			</li>
			<li class="account-footer">
				<div class="row-fluid">
					<div class="span8">
						<a class="btn btn-small btn-link" href="javascript:">Forgot Password?</a>
					</div>
					<div class="span4">
						<a href="javascript:" id="btnLogin" class="btn btn-small btn-danger pull-right">Sign In</a>
					</div>
				</div>
			</li>
		</ul>
	</li>
</template>

<template name="accountLoggedIn">
	<li class="dropdown">
		<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:">
			{{loggedInUser}} <i class="icon-large icon-user"></i><i class="caret"></i>
		</a>
		<ul class="dropdown-menu dropdown-user-account">
			<li class="account-img-container">
				<img class="img-polaroid" style="margin:10px; width:75px;" src="http://www.gravatar.com/avatar/{{gravatar}}?s=75&d=identicon"/>
			</li>
			<li class="account-info">
				<h3>{{loggedInUser}}</h3>
				<p>{{loggedInUserDescription}}</p>
			</li>
			<li class="account-footer">
				<div class="row-fluid">
					<div class="span12">
						<a class="btn btn-small btn-primary dropdown-toggle pull-left" href="javascript:">Account Settings</a>
						<a href="javascript:" id="btnLogout" class="btn btn-small btn-danger pull-right">Logout</a>
					</div>
				</div>
			</li>
		</ul>
	</li>
</template>